.questionQuiz {
  h3 {
    color: $color3;
    font-size: 1.8em;
    text-align: center;
  }

  div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    background-color: $color3;
    border: 5px solid $color3;
    color: $color1;
    font-size: 1.5em;
    height: 75px;
    margin: 10px;
    width: 125px;
  }

  button:hover {
    background-color: $color1;
    color: $color3;
    cursor: pointer;
  }

  &.affiche,
  &.question1.masque {
    display: block;
  }

  &.masque {
    display: none;
  }
}
